PORT=80
DB_HOST=Localhost
DB_USER=username
DB_PASSWORD=password
DB_DATABASE=UPLOAD
ACCESS_TOKEN=BOB
REFRESH_TOKEN=bob2
EMAIL=noreply@yourcompany.com
EMAIL_PASSWORD=123456
DOMAIN_NAME=http://0.0.0.0
LOW_RES_IMAGE_SIZE=400
LOW_RES_IMAGE_QUALITY=80